# build outputs (the makefile copies ksrc/*.[hc] to the root)
/*.o
/k
/*.h
/[abz].c
test/out/
test/host/build/
test/bochslog.txt
test/*.out
/.flavor
/boards/*/dist/
/boards/*/build/
/boards/mcu/*/build/
/boards/x86-baremetal/dist/
/boards/x86-baremetal/build/
